@font-face {
  font-family: "Corinthia";
  src: url('fonts/Corinthia/Corinthia-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;

    font-family: sans-serif;

    display: flex;
    flex-direction: column;
}

#contenedor-principal, #contenedor-mv, #contenedor-vd, #contenedor-opmv, #contenedor-opvd {
    padding: 1rem;
}

#contenedor-titulo {
    background-color: black;
    color: white;

    height: 4rem;

    display: flex;
    align-items: center;
}
#titulo {
    margin-left: 1rem;
    font-size: 3rem;
    font-family: Corinthia, cursive;
}

#contenedor-footbar {
    margin-top: auto;
    padding: 1rem;

    font-size: .75rem;

    display: flex;
    flex-direction: column;
}