@font-face {
  font-family: "Corinthia";
  src: url('fonts/Corinthia/Corinthia-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
}

#barra-titulo {
    background-color: black;
    color: white;

    height: 4rem;

    display: flex;
    align-items: center;
}
#titulo {
    margin-left: 1rem;
    font-size: 3rem;
    font-family: Corinthia, cursive;
}